{% extends 'base.html.twig' %}

{% block title %}SMS8{% endblock %}

{% block body %}
    <h2>Welcome to SMS8</h2>
    <p>Send up to 10 text messages a day for free!</p>
    <p>No credit card required.</p>
{% endblock %}

{% block javascript %}

{% endblock %}