{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to SMS8</h1>
    <h2>You can now send text messages.</h2>
    <a href="{{ path('new_message') }}" class="button">New Message</a>
{% endblock %}